<section class="container-fluid">
    <div id="header" class="row">

        <img src="https://images.unsplash.com/photo-1548199973-03cce0bbc87b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
            class="img-responsive image-resize">
    </div>

    <div class="text-block">
        <h1>
            אנחנו גט פט <br />
            ואנחנו הולכים לעזור לכם למצוא את החבר הכי טוב שלכם.
        </h1>
    </div>

</section>


<section id="aboutText">


    <h2>מי אנחנו</h2>
    <p>
        במדינת ישראל יש אלפי בעלי חיים המועמדים לאימוץ בעמותות והסגרים שלא מקבלים את החשיפה הראויה להם ומתקשים
        למצוא בית חם. מנגד, ישנם אנשים רבים שמחפשים לאמץ חבר על ארבע ולא יודעים מאיפה להתחיל.
        לא תמיד ברור לאיזו עמותה כדאי לפנות ואיך מגיעים אליהן, לא כל שכן לעבור בין אינספור האתרים השונים ולנסות לאתר את
        בעל החיים המתאים.
    </p>

    <mat-icon>pets</mat-icon>

    <p>
        למאמצים רבים יש דרישות חשובות ולגיטימיות מבעל החיים שהם עתידים להוסיף למשפחה:
    </p>
    <p>
        יש ילדים קטנים במשפחה וחשוב לכם שהכלב יסתדר איתם?
    </p>
    <p>
        מוכנים לעבוד קשה כדי לחברת חתולה חששנית?
    </p>
    <p>
        כלב ענק זה חלום חייכם?
    </p>
    <p>
        מתים על חתולים ג'ינג'ים?
    </p>
    <p>
        בקיצור, לחפש את בעל החיים המושלם עבורכם היא לעתים משימה קשה ומאתגרת.
    </p>

    <mat-icon>pets</mat-icon>

    <div class="bg">
        <p>
            <mat-icon>keyboard_arrow_left</mat-icon>
            אז מה עשינו?
            במילים פשוטות, לקחנו את מודעות האימוץ המתפרסמות בשלל אתרי עמותות וארגונים ברשת,
            אספנו אותן לכדי מאגר אחד גדול, עיבדנו את המידע כך שניתן לחפש בו לפי הקריטריונים החשובים לכם והקמנו
            אתר אינטרנט המציע חווית משתמש נוחה ופשוטה לחיפוש.
            המטרה שעמדה לנגד עינינו בהקמת האתר היא הנגשה וחשיפה של המידע הרב שיש ברשת על בעלי חיים לאימוץ
            ועידוד אימוצים על ידי הקלה על אופן החיפוש וייעול שלו.
        </p>

        <p>
            <mat-icon>keyboard_arrow_left</mat-icon>
            איך מחפשים?
            פשוט ליחצו בתפריט על עמוד ה"חיפוש", הזינו את הקריטריונים שלפיהם תרצו לאתר בעל חיים מהמאגר ולחצו "חיפוש".
            אנחנו כבר נתאים לכם חיות מחמד מהמאגר שלנו לפי הפרמטרים שהזנתם.
            במידה ומצאתם בעל חיים העונה לדרשותיכם, תוכלו להיכנס למודעה שלו ולקבל פרטים נוספים והפנייה לעמותה
            בה הוא נמצא.
        </p>

        <p>
            <mat-icon>keyboard_arrow_left</mat-icon>
            לא מצאתם את מה שרציתם?
            לא נורא, הרשמו לעדכונים דרך המשתמש שלכם, כך תוכלו לקבל מייל כאשר יתווסף בעל חיים העונה לקריטריונים שהזנתם.
        </p>

        <p>
            <mat-icon>keyboard_arrow_left</mat-icon>
            אם ברשותי בעל חיים ואני רוצה להוסיף אותו למאגר?
            תוכלו להוסיף בעל חיים חדש למאגר שלנו ע"י לחיצה על כפתור "הוספת בעל חיים". פרטי הקשר שאיתם התחברתם
            יופיעו בפרטי הקשר של החיה.
        </p>
    </div>

    <mat-icon>pets</mat-icon>
</section>>