/GetPet/GetPet.WebApi/appsettings.json
/GetPet/GetPet.Scheduler/appsettings.json
################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GetPet/GetPet.BusinessLogic/bin/Debug/netcoreapp3.1
/GetPet/GetPet.BusinessLogic/obj
/GetPet/GetPet.Common/obj
/GetPet/GetPet.Common/bin/Debug/netcoreapp3.1
/GetPet/GetPet.Crawler/obj
/GetPet/GetPet.Crawler/bin/Debug/netcoreapp3.1
/GetPet/GetPet.Data/bin/Debug/netcoreapp3.1
/GetPet/GetPet.Data/obj
/GetPet/GetPet.Tests/bin/Debug/netcoreapp3.1
/GetPet/GetPet.Tests/obj
/GetPet/GetPet.WebApi/bin/Debug/net5.0
/GetPet/GetPet.WebApi/obj
/GetPet/.vs/GetPet/DesignTimeBuild/.dtbcache.v2
/GetPet/.vs/GetPet/v16/TestStore/0/001.testlog
/GetPet/.vs/GetPet/v16/TestStore/0/testlog.manifest
/GetPet/.vs/GetPet/config/applicationhost.config
/GetPet/.vs/GetPet/v16/.suo
/GetPet/.vs/GetPet/config/applicationhost.config
/GetPet/.vs/GetPet/v16/.suo
/GetPet/.vs
/GetPet/GetPet.CrawlerApp/bin/Debug/netcoreapp3.1
/GetPet/GetPet.CrawlerApp/obj
/GetPet/GetPet.BusinessLogic/bin/Debug/net5.0
/GetPet/GetPet.Common/bin/Debug/net5.0
/GetPet/GetPet.Crawler/bin/Debug/net5.0
/GetPet/GetPet.CrawlerApp/bin/Debug/net5.0
/GetPet/GetPet.Data/bin/Debug/net5.0
/GetPet/GetPet.Tests/bin/Debug/net5.0
/GetPet/GetPet.Scheduler/obj
/GetPet/GetPet.Scheduler/bin/Debug/net5.0
/GetPet/GetPet.WebApi/wwwroot/upload-content
/GetPet/GetPet.Common/bin/Release/net5.0
/GetPet/GetPet.BusinessLogic/bin/Release/net5.0
/GetPet/GetPet.Scheduler/bin/Release/net5.0
/GetPet/GetPet.Data/bin/Release/net5.0
/GetPet/GetPet.Crawler/bin/Release/net5.0
/GetPet/GetPet.WebApi/bin/Release/net5.0
/GetPet/GetPet.Tests/bin/Release/net5.0