<div class="adopt-info align-items-center">
  עד כה אומצו
  {{ adoptedCount }}
  כלבים וחתולים!
  {{ waitingForAdoptionAnimation }}
  כלבים וחתולים לאימוץ מחכים לכם עכשיו בהתרגשות!
</div>

<mat-toolbar fxLayout="row">
  <mat-toolbar-row>
    <span fxHide.xs>
      <img width="32" src="https://getpetstorage.blob.core.windows.net/upload-content/dog-paw-orange.png"
        alt="GetPet icon" />
      <a mat-button routerLink="/" routerLinkActive="active">גט-פט</a>
    </span>

    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
      <mat-icon>more_vert</mat-icon>
    </button>

    <span class="spacer"></span>

    <span fxHide.xs>
      <a mat-button routerLink="/pets/search" routerLinkActive="active" class="hover">חיפוש</a>
      <a mat-button routerLink="/pets/add" routerLinkActive="active" class="hover">הוסף בעל-חיים</a>
      <!-- <a mat-button routerLink="/articles">מאמרים</a> -->
      <a mat-button routerLink="/about-us" routerLinkActive="active" class="hover">מי אנחנו</a>
      <a mat-button routerLink="/donations" routerLinkActive="active" class="hover">תרומות</a>
    </span>

    <span class="spacer"></span>

    <span fxHide fxShow.xs>
      <a mat-button routerLink="/">גט-פט</a>
      <img width="32" src="https://getpetstorage.blob.core.windows.net/upload-content/dog-paw-orange.png"
        alt="GetPet icon" />
    </span>

    <mat-menu #dropMenu="matMenu" id="menu">

      <a routerLink="/pets/search"><button mat-menu-item>חיפוש</button></a>
      <a routerLink="/pets/add"><button mat-menu-item>הוסף בעל-חיים</button></a>
      <!-- <a mat-button routerLink="/articles"><button mat-menu-item>מאמרים</button></a> -->
      <a routerLink="/about-us"><button mat-menu-item>מי אנחנו</button></a>
      <a routerLink="/donations"><button mat-menu-item>תרומות</button></a>

      <mat-divider></mat-divider>

      <span *ngIf="!isLogin">
        <a routerLink="/account/login"><button mat-menu-item>התחבר</button></a>
        <a routerLink="/account/register"><button mat-menu-item>הרשם</button></a>
      </span>

      <span *ngIf="isLogin">
        <span mat-menu-item>
          שלום {{user.name}}
        </span>
        <a mat-button href="javascript:void(0)" (click)="logout()"><button mat-menu-item>התנתק</button></a>
      </span>

    </mat-menu>

    <span *ngIf="!isLogin" class="space-between" fxHide.xs>
      <a mat-raised-button routerLink="/account/login">התחבר</a>
      <a mat-button routerLink="/account/register">הרשם</a>
    </span>

    <span *ngIf="isLogin" class="space-between" fxHide.xs>
      <span>
        שלום {{user.name}}
      </span>
      <a id="disconnect" mat-button href="javascript:void(0)" (click)="logout()">התנתק</a>
    </span>

  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>