<mat-card class="mat-elevation-z4">
    <!-- <a [href]="pet.sourceLink" target="_blank"> -->
    <span class="image-container">
        <img mat-card-image [src]="pet.images[0]" [alt]="pet.name">
        <mat-card-title class="text-block">{{ pet.name }}</mat-card-title>
    </span>
    <!-- </a> -->
    <mat-card-content>

        <p class="text-description">
            {{ pet.description }}
        </p>
        <p>
            <mat-chip-list class="pet-chip" cdkDropList cdkDropListOrientation="horizontal">
                <mat-chip class="pet-box" cdkDrag *ngFor="let trait of pet.traits | keyvalue">
                    {{ trait.key }}: {{ trait.value }}
                </mat-chip>
            </mat-chip-list>
        </p>
    </mat-card-content>
</mat-card>