
#table-section
    width: 80%
    margin: 20px auto 0

#header-section
    width: 100%
    margin: 0
    position: relative

#header
    height: 200px
    padding-top: 0px
    text-align: center

.image-resize
    position: absolute
    max-height: 200px
    object-fit: cover
    object-position: 100% 36%
    overflow: hidden
    padding: 0

.text-block
    position: absolute
    bottom: 20px
    right: 20px
    color: white
    padding-left: 20px
    padding-right: 20px
    opacity: 90%

.grid-container
    display: grid
    grid-template-columns: 20% 1fr 20%
    display: grid
    column-gap: 15px
    row-gap: 15px

    .grid-item-header
        background-color: #eee
        font-size: 18px
        padding: 10px
