<section id="header-section" class="container-fluid">
    <div id="header" class="row">

        <img src="https://images.unsplash.com/photo-1444212477490-ca407925329e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2000&q=80"
            class="img-responsive image-resize">
    </div>

    <div class="text-block">
        <h1>
            תרומות
        </h1>
    </div>

</section>

<section id="table-section">
    <p>
        אין בארץ אגודת צער בעלי חיים ארצית, שהארגונים השונים מסונפים אליה. מדובר בארגונים נפרדים לחלוטין, שכל אחד מהם
        נאלץ
        להתקיים בכוחות עצמו, בעיקר בזכות האנשים שתורמים להם.
        כספי התרומות מהווים את החמצן שמאפשר לפעילויות להתקיים ולהחזיק את בית המחסה, להעניק טיפולים וטרינריים, לסייע
        לבעלי
        חיים
        במצוקה שנפגעו בתאונות, פציעות, מקרי התעללות, לספק מזון, חומרי הדברה ועוד.
        לאור התרומות, ישנם בעלי חיים שחיים איתנו שנים רבות עד שיבה טובה, ועלות אחזקתם לאורך השנים מהווה עומס כלכלי לא קל
        על
        קופות האגודות.
        כל תרומה תתקבל בשמחה ובברכה, כל תורם יכול להיות בטוח שתרומתו מיועדת לרווחת בעלי החיים ולא לכל מטרה אחרת.
        פתחו את הלב ועזרו לנו להציל את העמותות הכל כך חשובות הללו.

    </p>
    <div class="grid-container">
        <div class="grid-item-header">שם העמותה</div>
        <div class="grid-item-header">מטרת התרומה</div>
        <div class="grid-item-header">לינק לתרומה</div>

        <div class="grid-item">צער בעלי חיים רמת גן והסביבה</div>
        <div class="grid-item">תחזוקה ותפעול בית המחסה ולשיפור תנאי המחיה של בעלי החיים הגרים בו ולהרחבת הפעילות
            החינוכית
        </div>
        <div class="grid-item"><a href="https://www.spca.org.il/donate" target="_blank">צער בעלי חיים רמת גן והסביבה</a>
        </div>

        <div class="grid-item">תנו לחיות לחיות</div>
        <div class="grid-item">עמותת תנו לחיות לחיות מתקיימת אך ורק הודות לתרומות מאנשים טובים כמוכם.</div>
        <div class="grid-item"><a href="https://www.letlive.org.il/?page_id=32" target="_blank">תנו לחיות לחיות</a>
        </div>

        <div class="grid-item">חבר</div>
        <div class="grid-item">העמותה הינה מלכ"ר (ארגון ללא מטרות רווח) ולכן תלויה אך ורק בתרומות ואימוצים.
            אנו זקוקים נואשות לכל תרומה, בכל גודל.</div>
        <div class="grid-item"><a href="https://www.haverdogs.org/donations" target="_blank">חבר</a></div>

        <div class="grid-item">הרצליה ונתניה אוהבות חיות</div>
        <div class="grid-item">כל תרומה מממנת ישירות הצלת חיים של כלבים וחתולים נטושים</div>
        <div class="grid-item"><a href="https://herzelialovesanimals.org/donate/" target="_blank">הרצליה ונתניה אוהבות
                חיות</a></div>

        <div class="grid-item">אגודת צער בעלי חיים בישראל</div>
        <div class="grid-item">כספים הנתרמים לעמותה משמשים למטרות עבודה עם בעלי החיים |</div>
        <div class="grid-item"><a href="https://spca.co.il/donations-he/" target="_blank">אגודת צער בעלי חיים בישראל</a>
        </div>

        <div class="grid-item">צער בעלי חיים ירושלים</div>
        <div class="grid-item"></div>
        <div class="grid-item"><a href="https://jspca.org.il/donation/" target="_blank">צער בעלי חיים ירושלים</a></div>

        <div class="grid-item">SOS</div>
        <div class="grid-item">S.O.S חיות הינה עמותה ללא כוונת רווח, הפועלת למעלה מ-40 שנה להצלתם ולרווחתם של כלבים
            וחתולים
            חסרי בית. מרב משאבינו
            מוקדשים ומופנים באופן ישיר להשגת מטרות אלה וכל תרומה שמקבלת העמותה מאפשרת לנו את הרחבת היקף פעילות זו ואת
            הגדלת
            מספר
            בעלי החיים שזוכים לקבל עזרה.</div>
        <div class="grid-item"><a href="https://www.sospets.co.il/donations" target="_blank">SOS</a></div>

        <div class="grid-item">אנימלס</div>
        <div class="grid-item">התרומה שלך יכולה ליצור עולם טוב יותר למען בעלי חיים</div>
        <div class="grid-item"><a href="https://animals-now.org/donate/?group=1" target="_blank">אנימלס</a></div>

        <div class="grid-item">חוות קרן אור</div>
        <div class="grid-item">כל העבודה בחווה נעשית בהתנדבות מלאה ויכולה להמשיך להתקיים אך ורק בזכות התרומות.
            אנא פתחו את הלב ותרמו, כל סכום מבורך.
            ​</div>
        <div class="grid-item"><a href="https://www.kerenorfarm.com/donate" target="_blank">חוות קרן אור</a></div>

        <div class="grid-item">כפר סבא ורעננה אוהבות חיות </div>
        <div class="grid-item"></div>
        <div class="grid-item"><a href="https://ks-loves-animals.co.il/%D7%AA%D7%A8%D7%95%D7%9E%D7%95%D7%AA/"
                target="_blank">כפר סבא ורעננה אוהבות חיות</a>
        </div>

        <div class="grid-item">צער בעלי חיים רחובות והשפלה</div>
        <div class="grid-item">כידוע לכם, עמותת צער בעלי חיים רחובות והשפלה מתקיימת מתרומות.
            העמותה קולטת מספר רב של כלבים וחתולים חסרי בית, מטפלת בהם, מאכילה אותם, מנקה להם וכמובן דואגת לבריאותם.
            על מנת שנוכל להמשיך לשמש מקלט למאות בעלי חיים, אנחנו זקוקים לעזרתכם!</div>
        <div class="grid-item"><a href="https://ks-loves-animals.co.il/%D7%AA%D7%A8%D7%95%D7%9E%D7%95%D7%AA/"
                target="_blank">צער בעלי חיים רחובות והשפלה</a></div>

    </div>
</section>>