<input type="file" #fileUpload id="fileUpload" name="fileUpload" accept="image/*">

<div class="file-upload">

   {{fileName || "No file uploaded yet."}}

    <button mat-mini-fab color="primary" class="upload-btn"
      (click)="onClick()">
        <mat-icon>attach_file</mat-icon>

    </button>

</div>

<!-- <div class="progress">

  <mat-progress-bar class="progress-bar" mode="determinate"
                    [value]="file.progress">

  </mat-progress-bar>

  <mat-icon class="cancel-upload" (click)="cancelUpload()" 
            *ngIf="uploadProgress">delete_forever</mat-icon>

</div> -->




<!-- <div style="text-align:center; margin-top: 100px; ">
    <mat-card style="margin-top:10px; width: 50%;">  
    <mat-card-content>  
        <ul>  
            <li *ngFor="let file of files; let i=index">  
                <mat-progress-bar [value]="file.progress"></mat-progress-bar>  
                <span id="file-label">  
                      {{fileName}}
                </span>  
            </li>  
        </ul>  
    </mat-card-content>  
    <mat-card-actions>  
        <button mat-button color="warn" (click)="onClick()" [disabled]="clicked">  
            <mat-icon>file_upload</mat-icon>  
             העלה קובץ 
        </button>  
    </mat-card-actions>  
</mat-card><input type="file"
                  #fileUpload
                  id="fileUpload" 
                  name="fileUpload" 
                  multiple="multiple" 
                  accept="image/*" 
                  style="display:none;" />
</div> -->