
::host
    width: 60%

section

    .image-container
        position: relative
        display: block
        overflow: hidden
        width: 100%

    img
        width: 100%
        height: auto

    .text-block

        position: absolute
        top: 25px
        right: 0
        background-color: black
        color: white
        text-align: center
        opacity: 0.6
        padding: 15px
        color: #000
        background-color: #fff
        border-radius: 15px 0px 0px 15px
