<section dir="rtl" class="adopt-pet">

    <section class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1">
                <img src="https://getpetstorage.blob.core.windows.net/images/animals1.png" class="img-fluid">
            </div>
            <div class="col-md-6 order-1 order-md-2">
                <div class="row align-items-center">
                    <h1>
                        ברוכים הבאים!
                    </h1>
                </div>
                <div class="row align-items-center">
                    <img src="https://getpetstorage.blob.core.windows.net/images/logo2.png" class="img-fluid">
                </div>
                <div class="row align-items-center content">
                    <div *ngFor="let type of animaltypes" class="col-md-6 col-sm-6 align-items-center">
                        <button (click)="onAdpotButtonClick(type.id)">אמצו {{type.name}}</button>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <h2>עד כה אומצו
        {{ adoptedCount }}
        כלבים וחתולים!
        {{ waitingForAdoptionAnimation }}
        כלבים לאימוץ מחכים לכם עכשיו בהתרגשות!
    </h2>
</section>

<!-- <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="20%"
    fxFlex.xl="20%" fx class="row">

    <form [formGroup]="form">


        <mat-form-field appearance="outline">
            <mat-label>סוג</mat-label>
            <mat-select #typeSel placeholder="בחר סוג" name="animalType" formControlName="animalType">
                <mat-option *ngFor="let type of animaltypes" [value]="type.id">
                    {{ type.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </form>
</div> -->



<section>
    <h2>מאמרים אחרונים</h2>
    <div class="pets-container">

        <app-loader [Show]="articleLoading"></app-loader>

        <div class="content" *ngIf="!articleLoading">
            <div fxLayout="row wrap" fxLayoutGap="24px grid">
                <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="20%"
                    fxFlex.xl="20%" fx *ngFor="let article of articles">

                    <app-article-card [article]="article" (click)="openArticleDialog(article)"></app-article-card>

                </div>
            </div>
        </div>

    </div>
</section>

<section>
    <h2>בעלי-חיים חדשים לאימוץ</h2>
    <mat-tab-group mat-align-tabs="start" mat-stretch-tabs (selectedTabChange)="tabChanged($event)">
        <mat-tab label="כלבים">
            <div class="pets-container">
                <app-loader [Show]="petLoading"></app-loader>
                <div class="content" *ngIf="!petLoading">
                    <div fxLayout="row wrap" fxLayoutGap="16px grid">
                        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%"
                            fxFlex.lg="20%" fxFlex.xl="20%" fx *ngFor="let pet of pets">
                            <app-pet-card [pet]="pet" (click)="openPetDialog(pet)"></app-pet-card>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="חתולים">
            <div class="pets-container">
                <app-loader [Show]="petLoading"></app-loader>
                <div class="content" *ngIf="!petLoading">
                    <div fxLayout="row wrap" fxLayoutGap="16px grid">
                        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%"
                            fxFlex.lg="20%" fxFlex.xl="20%" fx *ngFor="let pet of pets">
                            <app-pet-card [pet]="pet" (click)="openPetDialog(pet)"></app-pet-card>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
        <!-- <mat-tab label="מכרסמים">
            <div class="pets-container">
                <app-loader [Show]="petLoading"></app-loader>
                <div class="content" *ngIf="!petLoading">
                    <div fxLayout="row wrap" fxLayoutGap="16px grid">
                        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%"
                            fxFlex.lg="20%" fxFlex.xl="20%" fx *ngFor="let pet of pets">
                            <app-pet-card [pet]="pet"></app-pet-card>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab> -->
    </mat-tab-group>
</section>