section
    margin: 20px

    .mat-tab-label
        width: 50%

.pets-container
    min-height: 250px

.content
    padding: 16px

    & > mat-card
        width: 200px

.adopt-pet
    display: flex
    flex-direction: row
    justify-content: space-evenly
    align-items: center
    width: 600px
    margin-right: auto
    margin-left: auto
