<!--Add pet form starts-->
<mat-vertical-stepper dir="rtl">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>בחר סוג חיה</ng-template>
      <!--Select animal type-->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>סוג</mat-label>
            <mat-select>
              <mat-option
                *ngFor="let type of animaltypes_arr"
                [value]="type.id"
              >
                {{ type.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div>
        <button mat-button matStepperNext>הבא</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup" label="פרטי החיה">
    <form [formGroup]="secondFormGroup">
      <!--Insert pet name-->
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input
              formControlName="petName"
              matInput
              placeholder="שם"
              required
            />
          </mat-form-field>
        </div>
      </div>

      <!--Select gender-->
      <div class="row">
        <div class="col-md-12">
          <mat-radio-group formControlName="gender" class="margin-left">
            <mat-radio-button value="male"> זכר </mat-radio-button>
            <mat-radio-button value="female"> נקבה </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <!--Select date of birth-->
      <div class="col-md-6 top-padding">
        <mat-form-field appearance="fill">
          <mat-label>תאריך לידה</mat-label>
          <input formControlName="dob" matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div>
        <button mat-button matStepperPrevious>חזור</button>
        <button mat-button matStepperNext>הבא</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <form [formGroup]="thirdFormGroup">
      <!--Select city-->
      <div class="row">
        <div class="col-md-12">
          <mat-form-field appearance="fill">
            <mat-label>עיר</mat-label>
            <mat-select>
              <mat-option *ngFor="let city of city_arr" [value]="city.id">
                {{ city.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!--Some more details about the pet-->
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field>
            <textarea
              formControlName="description"
              matInput
              placeholder="תיאור נוסף"
            ></textarea>
          </mat-form-field>
        </div>
      </div>

      <!--Image upload-->
      <angular-file-uploader [config]="afuConfig"> </angular-file-uploader>

      <!-- Submit Button
    <mat-card-actions>
      <button (click)="saveForm()" mat-raised-button color="primary">
        Save
      </button>
    </mat-card-actions> -->
      <!--Add pet form ends-->
    </form>
  </mat-step>
</mat-vertical-stepper>
