<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/afe66be1-ebb7-4b06-a2fb-a63783ef4d92/resourceGroups/main/providers/Microsoft.Web/sites/GetPetWebApi</ResourceId>
    <ResourceGroup>main</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://getpetwebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e4cc17af-4042-4069-9f27-096d492fc956</ProjectGuid>
    <PublishUrl>https://getpetwebapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$GetPetWebApi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>