p
    display: flex
    justify-content: space-between

.image-container
    position: relative
    display: inline-block
    margin: -16px
    padding: 16px

.text-block
    width: 100%
    position: absolute
    bottom: 25px
    right: 0
    background-color: black
    color: white
    text-align: center
    opacity: 0.65
    padding: 10px
