.mat-card
    cursor: pointer
    height: 100%
p
    display: flex
    justify-content: space-between

.mat-elevation-z4
    padding-top: 0

.image-container
    position: relative
    min-width: 200px
    min-height: 150px
    display: block

.text-block
    position: absolute
    right: -16px
    left: -16px
    bottom: 8px
    background-color: black
    color: white
    text-align: center
    opacity: 0.65
    padding: 10px
