<mat-card dir="rtl">
    <mat-card-title>התחבר</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit()">

            <mat-form-field appearance="outline">
                <mat-label>אימייל</mat-label>
                <input type="text" matInput placeholder="אימייל" formControlName="email">
                <mat-error class="text-danger"
                    *ngIf="form.get('email')?.touched && form.get('email')?.hasError('required')">
                    חובה להזין אימייל
                </mat-error>
                <mat-error class="text-danger"
                    *ngIf="form.get('email')?.touched && form.get('email')?.hasError('email')">
                    פורמט אימייל לא תקין
                </mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>סיסמא</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="סיסמא" formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide;"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>


            <p *ngIf="error" class="error">
                {{ error }}
            </p>

            <div class="button">
                <button type="submit" [disabled]="form.invalid || loading" mat-raised-button
                    color="primary">התחבר</button>
            </div>
        </form>

        <app-loader [Show]="loading"></app-loader>

    </mat-card-content>
</mat-card>