<div class="main-container" dir="rtl">
    <aside>
        <form [formGroup]="form">

            <section class="row">
                <mat-form-field appearance="outline">
                    <mat-label>סוג</mat-label>
                    <mat-select #typeSel placeholder="בחר סוג" name="animalType" formControlName="animalType">
                        <mat-option *ngFor="let type of animaltypes" [value]="type.id">
                            {{ type.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </section>
            <section class="row">
                <app-search-criteria *ngFor="let trait of nonBooleanTraits" [trait]="trait"
                    (changed)="onOptionsChanged($event)">
                </app-search-criteria>
            </section>
            <section class="row filter-list">
                <app-search-criteria *ngFor="let trait of booleanTraits" [trait]="trait"
                    (changed)="onOptionsChanged($event)"></app-search-criteria>
            </section>

            <section class="row">
                <button mat-raised-button color="primary" (click)="search()">חפש</button>
            </section>
            <section class="row">
                <button mat-raised-button color="accent" (click)="addSearchNotification()">
                    <mat-icon>notifications</mat-icon>
                    הרשם להתראות
                </button>
            </section>
        </form>
    </aside>
    <main>

        <div class="no-pets-found" *ngIf="pets.length === 0 && !loading">
            <h2>
                לא נמצאו בעליי חיים.<br />
                ביכולתך להרשם להתראות לקבל מייל כשנוסף בעל חיים עם בחירות הסינון שלך

            </h2>
        </div>

        <div class="content" *ngIf="!loading">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex.lg="20%"
                    fxFlex.xl="20%" fx *ngFor="let pet of pets">
                    <app-pet-card [pet]="pet" (click)="openPetDialog(pet)"></app-pet-card>
                </div>
            </div>
        </div>
    </main>
</div>