.main-container
    display: flex
    flex-direction: row
    align-items: stretch
    width: 100%
    padding-top: 10px

    aside
        width: 400px

    main
        flex: 1
        padding-top: 16px
        padding-left: 16px

        .no-pets-found
            margin-top: 40px
            text-align: center

form
    display: flex
    flex-flow: column
    margin: 10px 0px
    margin-right: 20%

    .row
        padding-left: 50px
        margin-top: 15px

    button
        width: 180px
        padding: 5px
        font-size: 16px

.mat-form-field
    // width: 100%

.filter-list > *
    width: 50%
    // flex: 50%
    // display: inline-flex
    // flex-wrap: wrap
    // gap: 12px

    // .row
    //     flex: 50% !important
