html,
body
    font-family: Roboto, "Helvetica Neue", sans-serif
    margin: 0
    padding: 0
    direction: rtl
    text-align: right
    font-size: 12px

.mat-chip
    background-color: #fcf6e1 !important
    border: 2px solid #F5B475 !important
    color: #e28800 !important

.mat-chip:hover
    background-color: #fcf6e1 !important
    border-color: #ce7b00 !important

.mat-standard-chip:after
    content: none !important

.mat-menu-item
    width: 200px
    padding-right: 5px

a
    text-decoration: none

.mat-toolbar
    background: ebe7dc
    border-bottom: 1px solid orange
    color: #3e3326

    #search
        color: #ed6b44

    #disconnect
        border: 2px solid #ed6b44
        border-radius: 15px
        padding: 0px 20px

    .mat-button:hover
        color: #ed6b44

.mat-toolbar-multiple-rows
    min-height: 30px
